html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    line-height: 25px;
    color: #164a44;
    background-color: #b2d9d0
}

.container {
    display: flex;
    justify-content: center;
}

.img-title {
    margin: 50px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.img-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img-item {
    max-width: 250px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border: 2px dashed black;
    border-radius: 20px;
    cursor: move;
    background-color: #dff2ef;
    transition: background-color 0.5s;
}

.img-item:last-child {
    margin-bottom: 0;
}

.selected {
    opacity: 0.6;
}